extends layout

block content
    h1= title
    p Explore <strong>#{genre.name}</strong> movies
    if movies.length
        - var chunkSize = Math.ceil(movies.length / 2)
        .row
            - for(var i = 0; i < 2; i++)
                .col
                    ul.list-group
                        - var start = i * chunkSize
                        - var end = start + chunkSize
                        each movie, index in movies.slice(start, end)
                            li.list-group-item
                                a(href=movie.url)= movie.title
    else
        p No movies found.