extends layout

block content
    .container
        h1.display-4= title
        p.font-weight-bold Movies: #{movies.length}
        hr
        a(href="/movies/toprated/1") Top Rated 
        |&nbsp;|&nbsp;
        a(href="/movies/popular/1") Popular
        hr
        - var chunkSize = Math.ceil(movies.length / 2)
        .row
            - for(var i = 0; i < 2; i++)
                .col
                    ul.list-group
                        - var start = i * chunkSize
                        - var end = start + chunkSize
                        each movie, index in movies.slice(start, end)
                            a.list-group-item.list-group-item-action(href=movie.url)
                                p #{movie.title}
        hr
        .pagination
            - if (category)
                - if (page > 1)
                    a.page-link(href="/movies/" + category + "/" + (page - 1)) Previous
                - else
                    a.page-link(href="" tabindex="-1") Previous
                a.page-link(href="/movies/" + category + "/" + (page + 1)) Next
            - else
                a.page-link(href="" tabindex="-1") Previous
                a.page-link(href="" tabindex="-1") Next