div#sidebar.col-2
    h2 Sidebar
    div.list-group
        a.list-group-item(href='/') Home
        a.list-group-item(href='/movies') Movies
        a.list-group-item(href='/genres') Genres
        a.list-group-item(href='/users') Users
        a.list-group-item(href='/users/createuser') Create a new user